*{
    margin: 0;
    border: none;
    font-family:"Poppins";
}

html {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(2, 35, 102,1)), url("../img/temporaryHomeBG.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    border: #022366 1px solid;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24;
    font-weight:bold;
}

li a:hover {
    color: #022366;
}

h1 {
    font-size: 40;
    font-weight: bold;
}

p {
    font-size: 24;
    font-weight: bold;
}

.text-white {
    color: #FFFFFF;
}

.text-regular {
    font-weight: normal;
}

.active {
    text-decoration: underline;
}
