/* @import url("//fonts.googleapis.com/css?family=Josefin+Slab:400,700"); */
body {
  font-family: "Inter", "Josefin Slab", "Myriad Pro", Arial, sans-serif;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(2, 35, 102, 1)
  );
  /* background-color: rgb(2, 25, 102); */
  /* background-color: #eaf7ff; */
  max-width: 1400px;
  border: #9ccecb solid;
  padding: 20px;
}


/* navi starts */

.navi-container {
  display: flex;
  margin: 20px;
  /* justify-content: space-between; */
}
.navi-container img {
  border-radius: 15px;
}
.navi-text-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}
/* gått midlertidig bort fra .navi-adr-img-container pga innhold er fra gammelt design */
/* kommentert bort fra både html/CSS */
/* .navi-adr-img-container {
  display: flex;
  justify-content: space-around;
} */
.navi-menu-container-r2 ul {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  font-weight: bolder;
  list-style: none;
  gap: 20px;
}
.menu-links a {
  display: flex;
  /* background-color: #196071; */
  /* color: #9ccecb; */
  color: black;
  font-size: 24px;
  text-decoration: none;
  /* justify-content: space-around; */
}
.menu-links a:hover {
  background: #ec8b27;
  /* background: olive; */
  /* background: #2a4794; */
  /* background: purple; */
  /* background: #022366; */
  font-weight: bolder;
}


/* omOss starts */

.omoss-container {
  display: flex;
  /* color: #fff; */
  font-weight: bold;
  /* justify-content: space-evenly; */
  gap: 20px;
}

.omoss-img-text {
  background-image: url(/fysioterapaut/img/omOssMsg.jpg);
  height: 350px;
  width: 89%;
  padding-left: 15px;
  padding-top: 90px;
  border-radius: 35px;
  font-size: 40px;
  color: #196071;
}

/* .omoss-img {
  display: flex;
  justify-items: stretch;
} */

.omoss-text {
    color: #196071;
  /* color: #196071; */
  /* align-items: center; */
}



/* staff-card via jS starts */

.staff-tilte {
  display: flex;
  justify-content: center;
  font-size: 40px;
  /* color: #fff; */
}
.staff-card-jS {
  display: flex;
  /* flex-direction: column; dersom row/column */
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1px;
  text-align: center;
  /* color: #ffff; */
  color: lightgray;
  /* color: #196071; */
  /* font-size: 19px; */
  /* color: #fff; */
}
.staff-card_img_txt_flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.staff-card-jS h3 {
  font-size: 24px;
  /* color: red; */
}
.staff-card-jS article img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  border-radius: 15px;
  /* border-radius: 50%; */
}
.staff-tilte h1 {
  /* background-color: #196071; */
  /* color: #9ccecb; */
  color: lightgray;
  font-size: 40px;
  font-weight: bold;
  /* background-color: #6c933a;
  color: #2574ba; */
}



.foot-text {
  text-align: center;
  color: lightgray;
}

/*
  
  
  
  
  
  
  
  */
@media all and (max-width: 768px) {
  .menu-links {
    flex-flow: column wrap;
    padding: 0;
  }
  .menu-links a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu-links li:last-of-type a {
    border-bottom: none;
  }
}

/* @media screen and (max-width: 768px) {
  .menu-links{

  }
} */
