:root {
    --primary: #022366;
}

/* Globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    margin: 30px auto;
    font-size: 36px;
}

h2 {
    margin: 20px auto;
}

h3 {
    margin: 10px auto;
}

h4 {
    margin: 10px auto;
}

ul {
    margin: 20px;
}

p {
    font-size: 18px;
}

a:visited {
    color: inherit;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.textdecoration-none {
    text-decoration: none;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-between {
    justify-content: space-between;
    margin: auto 30px;
}

.flex-content-center {
    justify-content: center;
}

body {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.navigation-logo {
    margin-left: 30px;
    text-decoration: none;
}

.navigation-menu {
    margin-right: 30px;
    font-weight: bold;
}

.navigation-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation-menu ul li {
    border-bottom: 1px solid transparent;
}

.navigation-menu ul li:hover {
    border-bottom: 1px solid var(--primary);
}

/* Hamburger navigation */

#check {
    display: none;
}

.checkBtn {
    display: none;
}

/* Herosection */

.herosection {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--primary)), url("../img/temporaryHomeBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.herosection-content {
    gap: 20px;
    margin: auto 30px;
}

.herosection-content__left {
    width: 50%;
}
.herosection-content__right {
    width: 50%;
}

.herosection-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.herosection-content__flex {
    background-color: #084acd83;
    max-width: 250px;
    padding: 30px;
}

.herosection-content__flex img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* kontakt oss */

input[type="text"],
input[type="email"],
textarea#message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea#message {
    height: 100px;
}

.submitBtn {
    padding: 15px 30px;
    background-color: var(--primary);
}

/* Footer */

footer {
    margin: 20px 30px !important;
    color: var(--primary);
}

footer a {
    color: var(--primary);
}

/* Mediaqueries */

@media screen and (max-width: 767px) {
    .navigation-logo {
        margin-left: 10px;
    }

    .navigation-menu {
        margin-right: 10px;
    }

    footer {
        margin: 10px !important;
        font-size: 12px;
    }

    .herosection-content {
        flex-direction: column;
    }

    .herosection-content__left {
        width: 100%;
    }

    .herosection-content__right {
        width: 100%;
    }

    .mobile-hidden {
        display: none;
    }

    .checkBtn {
        display: inline;
    }

    .navigation-menu ul {
        position: fixed;
        right: -150%;
        top: 40px;
        width: 100%;
        padding: 10px;
        text-align: center;
        background-color: white;
        transition: all 0.5s;
        z-index: 999;
        flex-direction: column;
        border-bottom: 1px solid var(--primary);
        gap: 10px;
    }

    .navigation-menu ul li {
        margin: 10px auto;
    }

    #check:checked ~ ul {
        right: -20px;
    }
}
